body {
    background:  rgb(27, 27, 58);
    font-family: sans-serif;
}
header {
    background: rgb(27,27,58);
    position: relative;
    color: white;
    border-bottom-style: inset ;
    border-bottom: 1.2px solid rgb(77, 75, 75);
}
.small {
    font-size: 19px;
}
.thin {
    font-weight: 100;
    color: #8d8c9e;
    margin: 0;
}
.thin_2 {
    font-weight: 100;
    color: #fdead4;
    margin: 0;
}
.o2 {    
    height: 40px;
    width: 35px;
    float: left;
    margin: 67px 0 0 9px;
    font-size: 40px;
    border: 2px solid rgb(102, 93, 136);
    background:rgb(102, 93, 136);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    top: 54px;left: 90px;
    position: absolute;
}
header h2 {
    font-size: 10px;
    position: absolute;
    top: 98px;left: 90px;
}
header nav {
    float: right;
}
header ul {
    margin: 86px 0 0 0;
}
header li {
    display: inline;
}
header a {
    text-decoration: none;
    color: rgb(184, 179, 179);
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 10px;
}
header a:hover {
    color: white;
}
.sr-only {
    display: hidden;
}
.hero {
    text-align: center;
    font-size: 30px;
    color: white;
    background:rgb(27,27,58);
    padding: 70px;
}
.bold {
    font-size: 55px;
    color: white;
}
.hero P {
    font-size: 15px;
    color: #8d8c9e;
    padding: 10px 106px;
}
.hero a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: rgb(102, 93, 136);
    padding: 10px 19px;
    border-radius: 5px;
}
main {
    background: linear-gradient(#f19b65, #de8859);
    padding: 45px 0 30px 0;
}
main img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.support {
    text-align: center;
    font-size: 13px;
}
.support h2 {
    color: white;
    
}
.buying {
    background: rgb(235, 233, 233);
}
.offers {
    background: rgb(235, 233, 233);
     padding: 30px 20px 30px 20px;
}
.offer { 
    background: white;/**/
    text-align: center;
    font-weight: bold;
    height: 332px;
}
.offer h2 {
    background: #5f5d74;
    margin: 0px;
    padding: 10px;
    color: lightgray;
    border-bottom: 1.2px solid rgb(179, 174, 174);
}

 .offer p {
    font-size: 30px;
    background: #5f5d74;
    padding: 20px;
    color: lightgray;
    margin: 0px;
} 
.offer ul {
    list-style: none;
    color: gray;
    padding: 5px 0 5px 0; 
    
}
.offer li {
    border-bottom: 0.2rem solid #f2f2f2;
    padding: 5px 0 0 0; 
}
.offers-ul-2 {
    background: #f7f7f7;
    padding: 5px 0 5px 0; 
}
.offer a {
    text-decoration: none;
    color: white;
    padding: 7px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #e79365;
} 
.offer a:hover {
    padding: 10px 50px;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 19px solid #5f5d74;
    top: 19px;
    position: relative;
  }

footer {
    border: 1px solid #2a273a;
    background:  #2a273a;
}
.services {
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    padding: 40px 0 20px 0;
}
.services ul {
    list-style: none;
}
.services ul li::before {
    content: "\2022"; 
    color: #FF7043;
    font-weight: bold;
    display: inline-block;
    width: 20px;
    margin-left: -40px; 
}
.services p {
    color: #4e4b5e;
    padding-bottom: 20px;
}
.services a {
    text-decoration: none;
    color: white;
    padding: 9px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #ec9c70;
}
.services a:hover {
    padding: 10px 15px;
}
.watermark {
    background: rgb(50, 47, 64);
}
.watermark img {
    height: 80px;
    width: 216px;
    padding: 10px;
}
.bottom {
    background: rgb(7, 7, 26);
}
.copyright {
    background: rgb(7, 7, 26);
    color:#33323a;
    margin: 0;
    padding: 20px 0 31px 20px;
}
.copyright h2 {
    margin: 0;
    font-size: 23px;
}
.copyright p {
    margin: 0;
    font-size: 8px;
}
.o2_2 {
    height: 32px;
    width: 31px;
    float: left;
    margin: 2px 8px 0 0px;
    font-size: 28px;
    border: 2px solid #403d4e;
    background: #403d4e;
    color: white;
    padding: 4px;
    border-radius: 5px;
}
.policy {
    margin: 0;
    padding: 13px 0 33px 0;
    background: rgb(7, 7, 26);
    color: #393840;
}
.policy ul {
    padding: 0;
}
.policy li {
    list-style: none;
    display: inline;
}
.social {
    background: rgb(7, 7, 26);
    margin: 0;
    padding: 20px 20px 26px 0
}
.social a {
    text-decoration: none;
    color: #33323a;
}
.social li{
  list-style: none;
   display: inline;
}
.months {
    color: #FF7043;
    font-size: 20px;
    font-weight: 100;
}
.clear {
	display: table;
	clear: both;
	height: 40px;
	width: 0;
	content: '';
}